<h1>Test Created</h1>
<h2><%= name %> </h2>
<h3>Total marks : <%= total_marks %>  </h3>
<a href="/teacher/dashboard/test/<%= id %>/mcq">Add MCQ question</a>
<a href="/teacher/dashboard/test/<%= id %>/sub">Add Subjective Question</a>
<a href="/teacher/dashboard/test/delete/<%= id %>">Delete Test</a>
<a href="/teacher/dashboard">Save</a>
<%= id  %>
 
<% for(let i = 0;i<qq.length;++i) {%>
    <hr> 
<form action="/teacher/dashboard/test/delete/<%=id%>/<%=i%>" method="GET">
<h2><%=qq[i].q%> </h2>
<% if(qq[i].type==="mcq") {%>
   <h3><%= qq[i].a %> </h3>
   <h3><%= qq[i].b %> </h3>
   <h3><%= qq[i].c %> </h3>
   <h3><%= qq[i].d %> </h3>
   <% } %>
   
<% if(qq[i].im==="yes") {%>
    <% for(let j = 0;j<qq[i].img.length;++j) {%>
       <img src="/<%=qq[i].img[j]%>" alt="img" width="60" height="60">
    <% } %> 
    <% } %>

    
    
   
<button type="submit">Delete</button>
</form> 
<hr> 
<% } %> 


