<link rel="icon" href="/logo.png" type="image/x-icon">
<title>Answers </title>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="top" style="width: 100%;display: flex;justify-content: end;flex-direction: row-reverse;margin-right: 40px;">
    <a href="/teacher/dashboard" class="button" style="width: 300px;height: 70px;">⏪Dashboard</a>
 </div>
<div class="image-viewer" style="visibility: collapse;">
    <img src="" alt="" id = "id">
</div>
<div class="but" style="width: 100%; display: flex;justify-content: center;align-items: center;visibility: collapse;">
    <button class="close" style="position: fixed;cursor: pointer;"><i class="fas fa-times"></i></button>

</div>



<div class="low">

    <% for(let i = 0;i<ques.length;++i){ %>
    <div class="box">
        <h1 style="font-family: 'Ubuntu', sans-serif;font-size: 30px;color: #EFF8FF;">Q. <%= i+1 %>&nbsp; <%= ques[i].q %></h1>
        <% if(ques[i].type==="mcq") {%>
           <h4 style="font-family: 'Ubuntu', sans-serif;font-size: 30px;color: #EFF8FF;">a ) <%= ques[i].a %> </h4>
           <h4 style="font-family: 'Ubuntu', sans-serif;font-size: 30px;color: #EFF8FF;">b ) <%= ques[i].b %> </h4>
           <h4 style="font-family: 'Ubuntu', sans-serif;font-size: 30px;color: #EFF8FF;">c ) <%= ques[i].c %> </h4>
           <h4 style="font-family: 'Ubuntu', sans-serif;font-size: 30px;color: #EFF8FF;">d ) <%= ques[i].d %> </h4>
            <% } %>  
            <% if(ques[i].im==="yes"){ %>
                <% for(let j = 0;j<ques[i].img.length;++j){ %>
                    <img src="/<%=ques[i].img[j]%>" alt="" width="100" height="100" onclick="myfun(this)" class="im">
                    <% } %>  
                <% } %>
                <h3 style="font-family: 'Ubuntu', sans-serif;font-size: 35px;color: #EFF8FF;">Answer : -</h3>
              
                <% if( typeof ans[i]!=='undefined' && Object.keys(ans[i]).length!==0){ %>
                
                <h4 style="font-family: 'Ubuntu', sans-serif;font-size: 30px;color: #EFF8FF;"><%= ans[i].answer %> </h4>
                <% for(let j = 0;j<ans[i].img.length;++j){ %>
                    <img src="/<%= ans[i].img[j]%>" alt="" class = "im" width="100" height="100" onclick="myfun(this)">
                    <% } %>  
                <% } %>
                
        
    </div>
    <% } %>   
    
    
</div>

<br>
<br>
<div class="bottom">
    <form action="/teacher/view/<%= idd %>" method="POST">
        <input type="text"  class = "input100" name = "marks" placeholder="Marks" required>
        <button type="submit" class="button">Give marks</button>
    </form>

</div>

    

    <style>
        .button {
        width: 200px;
        height: 70px;
        margin-top: 20px;
        display: flex;
        border-radius: 30px;
        justify-content: center;
        background-color: #47597E;
        transition: ease-out 0.5s;
        font-size: 30px;
        transform: scale(1);
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        align-items: center;
        color: #DBE6FD;
        outline: none;
        border: 0;
    }

    .button:hover {

        color: #D1D9D9;
        background-color: #867AE9;
    }
        .bottom{
            width: 100%;
            transform: scale(0.85);
            display: flex;
            flex-direction: row;
            align-self: center;
            text-align: center;
            justify-content: start;
        }
        .input100{
            width: 200px;
            height: 70px;
            font-size: 30px;
            padding: 20px;
            background-color: azure;
            border-radius: 30px;
            outline: none;
        }

 .im{
     cursor: pointer;
transition: all 0.3s;
 }
 .im:hover{
     transform: scale(1.1);
 }
        .box {
            width: 80vw;
            border: 3px solid #EFF8FF;
            border-radius: 20px;
            margin-top: 30px;
            padding: 20px;
        }
        * {
        background-color: #192B40;
        }
    .low {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .image-viewer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    
}
.close {
    top: 10px;
    background: transparent;
    border: 2px solid#47597E;
;
    border-radius: 50%;
    color: #DBE6FD;

    width: 60px;
    font-size: 40px;
    height: 60px;
    transition: all 0.3s;
}
.close:hover{
    transform: scale(1.1);
}
    #id {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }


</style>

<script>
    function myfun(x){
   document.querySelector('.low').style.visibility = "collapse"
   document.getElementById('id').src = x.src
   
   document.querySelector('.image-viewer').style.visibility = "visible"
   document.querySelector('.but').style.visibility = "visible"
   document.querySelector('.bottom').style.visibility = "collapse"
   document.querySelector('.top').style.visibility = "collapse"
    }

    document.querySelector('.close').addEventListener('click',()=>{
   document.querySelector('.image-viewer').style.visibility = "collapse"
   document.querySelector('.but').style.visibility = 'collapse'  
   document.querySelector('.low').style.visibility = "visible"
   document.getElementById('id').src = ""
   document.querySelector('.bottom').style.visibility = "visible"
   document.querySelector('.top').style.visibility = "visible"


        
    })

</script>